<div id="finance-body" class="promotion-container">
    <div class="promotion-row">
        <div class="promotion-main-content">
            <%- partial('common/article', {post: page, index: true}) %>
        </div>
    </div>
</div>

