#index-body
    background-color: white;

#finance-body
    .hightlight
        background-color: #EEEEEE;
        padding: 10px;

.promotion-container
    width: 90%
    margin: auto
.pomotion-row
    width: 100%
.promotion-main-content
    margin: auto;
    margin-bottom:10px;
    @media mq-mini
        width: 100%
    @media mq-mobile
        width: 80%
    @media mq-tablet
        width: 60%
    @media mq-normal
        width: 50%
