.meeting-container
    width: 90%
    margin: auto
.meeting-row
    width: 100%
.meeting-cell
    margin-bottom: 20px;
    vertical-align: top
    display:inline-block
    @media mq-mini
        width: 100%
    @media mq-mobile
        width: 48%
    @media mq-tablet
        width: 32%
    @media mq-normal
        width: 350px
.meeting-main-content
    margin: auto;
    margin-top:30px;
    margin-bottom:30px;
    padding: 10px;
    @media mq-mini
        width: 100%
    @media mq-mobile
        width: 80%
    @media mq-tablet
        width: 60%
    @media mq-normal
        width: 50%
    h1
        font-weight: bold
        font-size: 1.8rem
        line-height: 5rem
    p
        margin-bottom: 1rem
    ol,ul
        list-style: disc
        margin-top: 1rem
        margin-bottom: 1rem
        li
            line-height: 1.5rem

.meeting-type-regular
    height: 5px;
    background-color: #42B4E6
.meeting-type-interim
    height: 5px;
    background-color: #FFEB3B
.meeting-type-none
    height: 5px;
    background-color: #CCCCCC

.meeting-cell-container
    color: color-default;
    box-shadow: 1px 2px 5px #888888;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white

.meeting-cell-container:hover
    background-color: #EEE
    color: color-default;

.meeting-cell-link
    color: color-default;
.meeting-cell-title
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
.meeting-cell-content
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    padding: 10px;
    line-height: 1.6em
.meeting-cell-date
    margin-top: 10px;
